.super-mario {
    width: 200px;
    
  }
  
  .goomba {
    width: 100px;
    position: relative;
    top: 123px;
    right: 150px;
    

    
  }
  
  .baloon {
  position:relative;
  left: 300px;
  bottom: 400px;
  
  }
  
  .speech {
    font-size: 25px;
  position: relative;
left: 325px; ;
bottom: 290px;
z-index: 1;

}
  
  .bowser {
    width: 200px;
    position: relative;
    left: 300px;
  }
    